<%- include('layout/header') %>
<div class="overlay">
    <div id="breadcrumb" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <h6 class="heading">Map</h6>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="#">Map</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
</div>
<div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="content"> 
        <!-- ################################################################################################ -->
        <div id="gallery">
          <figure>
            <header class="heading">Category(Cake/Cookie/Bread/Fondant)</header>
            <ul class="nospace clear">

              <li class="one_quarter first"><a href="/map_cake"><img src="../images/Donuts Cake.jpg" alt=""></a></li>
              <li class="one_quarter"><a href="/map_cookie"><img src="../images/LOVE Heart Cookies.jpg" alt=""></a></li>
              <li class="one_quarter"><a href="/map_bread"><img src="../images/Potato pastries.jpg" alt=""></a></li>
              <li class="one_quarter"><a href="/map_fondant"><img src="../images/Batman Cake.jpg" alt=""></a></li>
              <header class="heading">Star (1~10)/(11~20)/(21~30)/(31Up)</header>
              <li class="one_quarter first"><a href="/map_star_1"><img src="../images/star.png" alt=""></a></li>
              <li class="one_quarter"><a href="/map_star_2"><img src="../images/star.png" alt=""></a></li>
              <li class="one_quarter"><a href="/map_star_3"><img src="../images/star.png" alt=""></a></li>
              <li class="one_quarter"><a href="/map_star_4"><img src="../images/star.png" alt=""></a></li>
              <header class="heading">Price (30Down)/(31~40)/(41~50)/(51Up)</header>
              <li class="one_quarter first"><a href="/map_1"><img src="../images/money.jpg" alt=""></a></li>
              <li class="one_quarter"><a href="/map_2"><img src="../images/money.jpg" alt=""></a></li>
              <li class="one_quarter"><a href="/map_3"><img src="../images/money.jpg" alt=""></a></li>
              <li class="one_quarter"><a href="/map_4"><img src="../images/money.jpg" alt=""></a></li>
            </ul>
            <figcaption>我好累: )</figcaption>
          </figure>
        </div>
        <!-- ################################################################################################ -->
        <!-- ################################################################################################ -->
        <nav class="pagination">
          <ul>
            <li><a href="#">&laquo; Previous</a></li>
            <li class="current" href="#" ><a >1</a></li>
            <li><a href="#">Next &raquo;</a></li>
          </ul>
        </nav>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
<%- include('layout/footer') %>