
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <section id="ctdetails" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul class="nospace clear">
      <li class="one_quarter first">
        <div class="block clear"><a href="#"><i class="fas fa-phone"></i></a> <span><strong>Give us a call:</strong> +866 (02) 2934 5678</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-envelope"></i></a> <span><strong>Send us a mail:</strong> 00657041@MAIL.NTOU.EDU.TW</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-clock"></i></a> <span><strong> Monday - Friday:</strong> 08.00am - 18.00pm</span></div>
      </li>
      <li class="one_quarter">
        <div class="block clear"><a href="#"><i class="fas fa-map-marker-alt"></i></a> <span><strong>Come visit us:</strong> Directions to <a href="https://www.google.com/maps/place/%E5%9C%8B%E7%AB%8B%E5%8F%B0%E7%81%A3%E6%B5%B7%E6%B4%8B%E5%A4%A7%E5%AD%B8/@25.1505447,121.7757756,15z/data=!4m5!3m4!1s0x0:0x58da11f75dcc14d!8m2!3d25.1505447!4d121.7757756">No. 2, Beining Rd., Zhongzheng Dist., Keelung City 202301 , Taiwan (R.O.C.)</a></span></div>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay row4" style="background-image:url('images/demo/backgrounds/01.png');">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">戴口罩勤洗手</h6>
      <ul class="nospace linklist">
        <li><a href="#">好想要跟同學一起</a></li>
        <li><a href="#">在畢業典禮上拍照</a></li>
        <li><a href="#">或是吃謝師宴</a></li>
        <li><a href="#">可是有Covid-19</a></li>
        <li><a href="#">我好難過இдஇ</a></li>
        
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">如果你有任何問題</h6>
      <p class="nospace btmspace-15">我不一定能解決( ´•̥̥̥ω•̥̥̥` )</p>
      <form action="#" method="post">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_quarter">
      <h6 class="heading">網站改寫以下模板</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="https://www.free-css.com/free-css-templates/page267/nocobot">NOCOBOT FREE CSS TEMPLATE</a></p>
            <time class="block font-xs" datetime="2045-04-06">Sunday, 6<sup>th</sup> June 2021</time>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="https://mongoosejs.com/docs/index.html">Mongoose</a></p>
            <time class="block font-xs" datetime="2021-06-06">Sunday, 6<sup>th</sup> June 2021</time>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Lacinia iaculis nunc</h6>
      <ul class="nospace clear latestimg">
        <li><a class="imgover" href="/Unicorn"><img src="images/Unicorn Cake.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Kinder"><img src="images/Kinder Cake.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Flower"><img src="images/Flower Boutique.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Christmas"><img src="images/Christmas Cupcakes.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Valentine"><img src="images/Valentine Cake Pops.jpg" alt=""></a></li>
        <li><a class="imgover" href="/LOVE"><img src="images/LOVE Heart Cookies.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Muhallabieh"><img src="images/Muhallabieh.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Swirl"><img src="images/Swirl Cake.jpg" alt=""></a></li>
        <li><a class="imgover" href="/Lego"><img src="images/Lego Cake.jpg" alt=""></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2021 - All Rights Reserved - <a href="#">NTOUCSE</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>
</body>
</html>